#avatar{
    background-image: url('../../images/LogoCircular.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    border: 1px solid skyblue;
    border-radius: 50%;
}