#pizzaContainer li{
    list-style: none;
    display: inline-block;
    width: 30%;
    height: auto;
}
#pizzaContainer li img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pizzaContainer{
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

div.imagenTitulo{
    position: relative;
    width: 335px;
    height: 335px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.imagenTitulo h5{
    position: absolute;
    top: 46%;
    bottom: 50%;
    width: 100%;
    pointer-events: none !important;
    text-shadow: 2px 2px #2e3842;
    font-size: 1em;
}

#bannerPizza{
    height: 160px;
    width: 100%;
    position: absolute;
    bottom: 100px;
    left: 0;
    text-align: center;
}

#captcha{
    height: 360px;
    width: 100%;
    position: absolute;
    text-align: center;
    visibility: hidden;
    bottom: -200px;
    left: 20px;
}

#inputCaptcha {
    width: 144px;
    height: 16px;
    position: absolute;
    right: 900px;
    top: 145px;
    color: black;
    font-size: 0.6em;
}

#textoCaptcha{
    color: #FFF;
}

.container{
    position: relative;
    margin-bottom: 20px;
}

#p10{
    margin-bottom: 180px;
}

#cerrarPubli{
    width: 800px;
    color: #de0c0c;
    position: relative;
    margin:auto;
}

#cerrarPubli i{
    position: absolute;
    right: 0;
    top: -190px;
    cursor: pointer;
}