#avatar{
    background-image: url('http://i.cdn.turner.com/cnn/2010/WORLD/americas/08/30/paulo.coelho.brazil/t1larg.paulo.coelho.afp.gi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    border: 1px solid skyblue;
    border-radius: 50%;
}

#cambiarAvatar{
    margin-top: 20px;
    width: 250px;
}