#header img#logo_header{
    width: auto;
    height: 60px;
}

#header > a{
    border: none;
}
.container {
    margin: 7% 2%;
    width: 96%; /*-----PRUEBA-----*/
}

#mapa{
    height: 500px;
    width: 50%;
}


p{
    color: #1d242a;
}

#banner h2{
    text-shadow: black 2px 2px;
    font-size: 4em;
}
a.more.scrolly{
    text-shadow: black 1px 1px;

}

.content p{
    color: #21b2a6;
}

#perfil{
    width: 80px;
    height: 80px;
}

h1{
    text-align: center;
    font-size: 1.75em;
    text-shadow: black 2px 2px;
}

#header i{
    position: absolute;
    right: 8%;
    top: 18px;
    font-size: 1.3em;
}

/*Carrito*/
#header a.cartIcon i{
    position: absolute;
    right: 22%;
    top: 0;
    padding: 15px;
    font-size: 1.3em;
    background-color: rgba(0,0,0,0);
}

#header #saludo{
    position: absolute;
    right: 12%;
    top: 20px;
    text-shadow: black 2px 2px;
}
#header .cart{
    height: 500px;
    width: 400px;
    display: none;
    background-color: wheat;
    /* overflow: hidden; */
    line-height: 1.5;
    padding: 0;
    position: absolute;
    right: 100px;
    top: 100%;
    z-index: 120;
}
#header .cart .cartItem{
    display: block;
    position: relative;
    border-bottom: 2px solid black;
}
#header .cart img{
    width: 100px;
    height: 100px;
}

#header .cart span{
    color: #000;
    text-transform: capitalize;
    position: absolute;
    top: 36%;
}
#header .cart span.ciPrecio{
    left: 60%;
}

#header .cart span.ciCantidad{
    left: 80%;
}

#header .cart button.deleteCart{
    visibility: hidden;
    position: absolute;
    width: 70%;
    top: 25%;
    /*left: 0;*/
}

.iconClicked{
    color: #23527c!important;
    background-color: wheat!important;
}



/** RESPONSIVE **/

@media screen and (max-width: 1680px) {
    #header img#logo_header{
        width: auto;
        height: 52px;
    }

    #mapa{
        height: 460px;
    }
    #header i{
        right: 9%;
        top: 15px;
    }
    #header #saludo{
        top: 17px;
    }
}
@media screen and (max-width: 1280px) {
    #header img#logo_header{
        width: auto;
        height: 48px;
    }

    #mapa{
        height: 380px;
    }

    #header #saludo{
        top: 15px;
        right:14%;
    }

    #header i{
        right: 11%;
        top: 15px;
    }
}
@media screen and (max-width: 980px) {

    #header #saludo{
        top:13px;
        right:18%;
    }

    #header i{
        right: 14%;
        top: 13px;
    }

}
@media screen and (max-width: 736px) {
    #header img#logo_header{
        width: auto;
        height: 44px;
    }

    #container {
        margin: 10% 2%;
    }
    #mapa{
        height: 220px;
        width: 85%;
    }
    #header #saludo{
        font-size: 1.2em;
        top: 10px;
        right: 16%;
    }
    #header i{
        right: 10%;
        top: 10px;
        font-size: 1.8em;
    }
}

@media screen and (max-width: 600px) {
    #header img#logo_header{
        width: auto;
        height: 44px;
    }

    #container {
        margin: 15% 2%;
    }
    #mapa{
        height: 180px;
        width: 85%;
    }
    #header #saludo{
        right: 18%;
    }
    #header i{
        right: 12%;
        top: 13px;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 400px) {
    #header #saludo{
        right: 21%;
        font-size: 1em;
        top: 13px;
    }
}