#header img#logo_header{
    width: auto;
    height: 60px;
}

#header i{
    position: absolute;
    right: 0;
    width: auto;
    height: 50px;
}

.container {
	margin: 7% 2%;
}

#formContacto div{
	margin-bottom: 2%;
}

#formContacto #submit{
	float: right;
}

#mapa{
    height: 500px;
    width: 50%;
}

@media screen and (max-width: 1680px) {
    #header img#logo_header{
        width: auto;
        height: 52px;
    }

    #mapa{
        height: 460px;
    }
}
@media screen and (max-width: 1280px) {
    #header img#logo_header{
        width: auto;
        height: 48px;
    }

    #mapa{
        height: 380px;
    }
}

@media screen and (max-width: 736px) {
    #header img#logo_header{
        width: auto;
        height: 44px;
    }
    
    #container {
	margin: 10% 2%;
	}
    #mapa{
        height: 220px;
        width: 85%;
    }
}


@media screen and (max-width: 600px) {
    #header img#logo_header{
        width: auto;
        height: 44px;
    }
    
    #container {
	margin: 15% 2%;
	}
    #mapa{
        height: 180px;
        width: 85%;
    }
}

p{
    color: #1d242a;
}

#banner h2{
    text-shadow: black 2px 2px;
    font-size: 4em;
}
a.more.scrolly{
    text-shadow: black 1px 1px;

}

.content p{
    color: #21b2a6;
}

#perfil{
    width: 80px;
    height: 80px;
}

